<form action="/payment/results">
  <label for="apr_input">APR</label>
  <input id="apr_input" type="text" name="apr" placeholder="E.g. 5.0">
  
  <label for="years_input">Number of years</label>
  <input id="years_input" type="text" name="years" placeholder="E.g. 30">
  
  <label for="pv_input">Principal</label>
  <input id="pv_input" type="text" name="pv" placeholder="E.g. 14600">
  
  <button>Calculate monthly payment</button>
</form>
