<form action="/square/results">
  <label for="number_input">Enter a number</label>
  <input id="number_input" type="text" name="number" placeholder="E.g. 4">
  <button>Calculate square</button>
</form>
